[Unit]
Description=Basic Network Setup
DefaultDependencies=no
Before=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=ip link set lo up
ExecStart=ip link set ens4 up
ExecStart=chattr +i /etc/resolv.conf
ExecStart=/usr/sbin/udhcpc -i ens4 -n
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
