[Unit]
Description=Seismic Enclave Server
After=network.target persistent-mount.service nginx-ssl-setup.service tpm-permissions.service
Requires=persistent-mount.service nginx-ssl-setup.service tpm-permissions.service

[Service]
Type=simple
Environment=RUST_BACKTRACE=full
UMask=0000

ExecStartPre=+/bin/mkdir -p /persistent/enclave
ExecStartPre=+/bin/chmod 775 /persistent /persistent/enclave
ExecStartPre=+/bin/chmod 1777 /tmp

ExecStart=/usr/bin/start-enclave

Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
