[Unit]
Description=Grafana Server
Documentation=https://grafana.com/docs/
After=network-online.target prometheus.service
Wants=network-online.target prometheus.service

[Service]
Type=notify
User=grafana
Group=grafana
ExecStart=/usr/share/grafana/bin/grafana server \
    --homepath=/usr/share/grafana \
    --config=/etc/grafana/grafana.ini \
    --pidfile=/var/run/grafana/grafana-server.pid \
    cfg:default.paths.logs=/var/log/grafana \
    cfg:default.paths.data=/var/lib/grafana \
    cfg:default.paths.plugins=/var/lib/grafana/plugins \
    cfg:default.paths.provisioning=/etc/grafana/provisioning

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
