[Unit]
Description=Seismic Reth Node
After=network.target persistent-mount.service nginx-ssl-setup.service enclave.service
Requires=persistent-mount.service nginx-ssl-setup.service enclave.service

[Service]
Type=simple
User=reth
Group=eth
UMask=0002

ExecStartPre=+/bin/mkdir -p /persistent/reth
ExecStartPre=+/bin/mkdir -p /var/volatile
ExecStartPre=+/bin/chown reth:eth /var/volatile
ExecStartPre=+/bin/chown -R reth:eth /persistent/reth
ExecStartPre=+/bin/chmod -R g+rwX /persistent/reth
ExecStartPre=+/bin/chmod g+s /persistent/reth

ExecStart=/usr/bin/start-reth

# Disabling on testnet
# Restart=on-failure
# RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
