[Unit]
Description=Seismic Reth Node
After=network.target persistent-mount.service nginx-ssl-setup.service
Requires=persistent-mount.service nginx-ssl-setup.service

[Service]
Type=simple
User=reth
Group=eth
LimitNOFILE=65536
UMask=0002

ExecStartPre=+/bin/mkdir -p /persistent/reth
ExecStartPre=+/bin/chown -R reth:eth /persistent/reth
ExecStartPre=+/bin/chmod -R g+rwX /persistent/reth
ExecStartPre=+/bin/chmod g+s /persistent/reth

ExecStart=/usr/bin/seismic-reth node \
    -vvv \
    --chain /persistent/reth/genesis.json \
    --full \
    --datadir /persistent/reth \
    --http \
    --http.addr 0.0.0.0 \
    --http.port 8545 \
    --http.api "eth,net,web3,trace,rpc,debug,txpool" \
    --ws \
    --ws.addr 0.0.0.0 \
    --ws.port 8546 \
    --ws.api "eth,net,trace,web3,rpc,debug,txpool" \
    --auth-ipc \
    --auth-ipc.path /var/volatile/reth_engine_api.ipc \
    --log.stdout.format json \
    --log.file.max-files 0 \
    --metrics "127.0.0.1:9001"

Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
