[Unit]
Description=Certbot SSL Certificate Renewal
After=network-online.target persistent-luks-setup.service
Requires=persistent-luks-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --nginx --config-dir /persistent/conf/certbot --work-dir /persistent/conf/certbot/work --logs-dir /persistent/conf/certbot/logs

# TODO: create lockfile when snapshots are running; don't run this until it's deleted
