[Unit]
Description=Seismic Enclave Server
After=network.target persistent-luks-setup.service nginx-ssl-setup.service
Requires=persistent-luks-setup.service nginx-ssl-setup.service

[Service]
Type=simple
User=enclave
Group=eth
Environment=RUST_BACKTRACE=full
Environment=RUST_LOG=info

ExecStart=/usr/bin/seismic-enclave-server --ip 0.0.0.0 --port 7878

Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
