[Unit]
Description=TDX initialization (wait for node config via HTTP)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

User=tdx-init

ExecStart=/usr/bin/tdx-init wait-for-config

Restart=on-failure
RestartSec=5

[Install]
WantedBy=minimal.target
