[Unit]
Description=TDX initialization (wait for node config via HTTP)
After=network-online.target persistent-luks-setup.service
Wants=network-online.target
Requires=persistent-luks-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes

User=tdx-init
Group=eth

ExecStart=/usr/bin/tdx-init wait-for-config

Restart=on-failure
RestartSec=5

[Install]
WantedBy=minimal.target
